* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "IM Fell French Canon SC", serif;
    background: url(images/asfalt-light.png), #1c1c1c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin: 30px;
}

.title {
    font-family: "Pirata One", serif;
    font-size: 60px;
    letter-spacing: 5px;
    color: #b59410;
    text-shadow: 0 0 30px #b59410;
}

.rules {
    font-size: 14px;
    margin-top: 10px;
}

main {
    background-color: #00000099;
    border: 3px solid #b59410;
    box-shadow: 0 0 20px #b59410;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
}

.icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.score {
    font-size: 18px;
    font-weight: bold;
}

#result {
    margin: 40px 0px;
    font-size: 20px;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px;
}

button {
    font-family: "IM Fell French Canon SC", serif;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #0e0d0d;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    transform: scale(1);
    cursor: not-allowed;
    filter: grayscale(75%);
}

.hidden {
    display: none;
}

#restart {
    border: 2px solid #b59410;
    color: #b59410;
}

#restart:hover {
    box-shadow: 0 0 20px #b59410;
}

#ignis {
    border: 2px solid #b22222;
    color: #b22222;
}

#ignis:hover {
    box-shadow: 0 0 20px #b22222;
}

#aqua {
    border: 2px solid #006994;
    color: #006994;
}

#aqua:hover {
    box-shadow: 0 0 20px #006994;
}

#terra {
    border: 2px solid #388004;
    color: #388004;
}

#terra:hover {
    box-shadow: 0 0 20px #388004;
}

a {
    text-decoration: none;
    color: #ffffff;

}

footer {
    text-align: center;
    margin: 30px;
}